apiVersion: apps/v1
kind: Deployment
metadata:
  name: travel-booking
spec:
  replicas: 3
  selector:
    matchLabels:
      web: app
  template:
    metadata: 
      labels:
        web: app
    spec:
      containers:
        - name: backend
          image: manikanta1432/travel-booking-image:v1.1.0
          ports:
            - containerPort: 4000
          env:
            - name: MONGODB_URI
              value: "mongodb://mongo-service:27017/travelEas"





